.button {
    border-radius: 5px;
    text-decoration: none;
    display: flex;
    place-items: center;
    justify-content: center;
    transition: all 0.3s;
}

.hovered {
    transition: all 0.3s;
}

.button.background {
    padding: 10px 20px 10px 20px;
}

.button:hover {
    cursor: pointer;
}

.button.hovered {
    transform: scale(110%);
}

.icon {
    transition: all 0.3s;
}

.icon.hovered {
    transform: scale(120%);
}


.spacer {
    padding: 0 5px 5px;
}

.text {
    font-weight: bold;
    font-size: 24px;
    transition: all 0.3s;
}

.text.extraSmall {
    font-size: 16px;
}

.text.small {
    font-size: 20px;
}

.text.large {
    font-size: 28px;
}

.text.extraLarge {
    font-size: 32px;
}

/* COLORS */
/* .button.background {
    background-color: var(--contrast);
}

.button.background.hovered {
    background-color: var(--contrast);
}

.text {
    color: var(--contrast-dark);
}

.text.hovered {
    color: var(--contrast-dark);
}

.icon.hovered.background * {
    color: var(--contrast-dark);
}

.icon * {
    color: var(--contrast-dark);
} */
