@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');

:root {
    --bg: black;
    --bg-dark: #DC419B;
    --bg-light: #FFC985;
    --contrast: #1C1C1C;
    --contrast-dark: white;
    --contrast-light: white;
    --contrast-alt: #1C1C1C;
    --contrast-alt-dark: white;
    --contrast-alt-light: white;
    --light: #DBDBDB;
    --dark: #1C1C1C;

    background-color: var(--bg);
    color: var(--dark);

    --small-desktop-bp: 800px;
    --desktop-bp: 1200px;

    /* SPACING */
    --spacing-xs: 0.25rem;
    --spacing-sm: 0.5rem;
    --spacing-md: 1rem;
    --spacing-lg: 1.5rem;
    --spacing-xl: 3rem;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;


    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
