@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');

:root {
    --color-main: black;
    --color-secondary-gradient: #DC419B;
    --color-main-alt: #FFC985;
    --color-contrast: #1C1C1C;
    --color-light: #DBDBDB;
    --color-dark: #1C1C1C;
    background-color: var(--color-main);
    color: black;

    --small-desktop-bp: 800px;
    --desktop-bp: 1200px;

    /* SPACING */
    --spacing-xs: 0.25rem;
    --spacing-sm: 0.5rem;
    --spacing-md: 1rem;
    --spacing-lg: 1.5rem;
    --spacing-xl: 3rem;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;


    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
